b.bold-text {
  font-weight: 500;
}
ul.resume-list {
  list-style-type: disc;
  padding-left: 1.75rem;
}
ul.resume-list .resume-list-item::marker {
  color: #a3a3a3;
}
ul.resume-list.resume-list::marker {
  color: #a3a3a3;
}
.byline-text {
  font-family: Newsreader, ui-serif, Georgia, Cambria, Times New Roman, Times,
    serif;
  font-style: italic;
}
