.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  margin: 0 0 1.5rem;
  font-size: var(--text-2xl);
  font-weight: 700;
  line-height: 2rem;

  a {
    color: var(--color-black);
    text-decoration: none;
  }
}

.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: var(--text-lg);
  line-height: 1.75rem;
}

.navItem {
  color: var(--color-nav);
  text-decoration: none;
  transition: color 0.15s ease;

  &:not(:first-child) {
    margin-left: 1.5rem;
  }

  &:hover {
    color: var(--color-black);
  }
}

.navItemActive {
  color: var(--color-black);
}

.pageTitle {
  font-weight: 300;
}

.pageTitleDash {
  color: rgb(163 163 163);
}

@media (max-width: 580px) {
  .navContainer {
    flex-direction: column;
    gap: 0.75rem;
  }

  .logo {
    margin-bottom: 0;
  }

  .navigation {
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .navItem:not(:first-child) {
    margin-left: 1rem;
  }

  .pageTitle {
    display: block;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
